<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duyangs.ipc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".multiProcess.FirstActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <!--未指定process属性，默认进程com.duyangs.ipc-->

        <activity
            android:name=".multiProcess.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":ximimax" />
        <!--指定process属性，运行时创建独立进程com.duyangs.ipc:ximimax-->

        <activity
            android:name=".multiProcess.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process="com.duyangs.ipc.ximimax" />
        <!--指定process属性，运行时创建独立进程com.duyangs.ipc.ximimax-->
    </application>

</manifest>